.home-wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 10%;
    /* text-align: justify; */
  }
  
  .home-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
  
  .md-button {
    margin-top: -20px;
    width: 200px;
    
    background-color: orange;
    color: white;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
    
  }

  .contentbtn{
display: flex;

  }

  .md-button:hover {
    background-color: white; /* Green */
  color: black;
  


}
  @media all and (max-width: 600px) {
    .contentbtn {
        flex-direction: column;
       
    } 
}